@font-face {
    font-family: "Calibri";
    src: url("../ressources/calibri-regular.ttf") format('truetype');
}

html{
    font-family: "Calibri";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-image: url('../ressources/logo_bg.png');
    background-size: 800px;
    background-position-x:right;
    background-position-y:top;
    background-repeat: no-repeat;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 10px;
}

nav{
    text-align: center;
    margin-top: 20px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}

nav > .menu{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #00509D;
    border-radius: 5px;
}

.main:hover{
    background-image: url("../ressources/dot.png");
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 10px;
}

.corner{
    position: fixed;
    top: 20px;
    right: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}

.main{
    font-weight: bold;
    font-size: 15pt;
    padding : 0 20px 10px 20px ;
    margin : 0 40px 0 40px ;
}

h1{
    font-size: 60pt;
    margin: 0;
}

h2{
    font-size: 30pt;
}

.title{
    display: flex;
    align-items: center;
}

.title > img{
    width: 150px;
    height: fit-content;
}

.top{
    margin: 100px 0 0 100px;
}

.spinny-wrapper{
    margin: 30px 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
}

.spinny-words{
    display: inline-block;
    min-width: 350px;
    text-align: left;
}
.spinny-words span{
    position: absolute;
    margin-left: 5px;
    color: #00509D;
    font-weight: bold;
    top:-0px;
    opacity: 0;    
    animation: rotateWord 9000ms linear 0s;
}

.spinny-words span:nth-child(2) { 
    animation-delay: 1500ms; 
}
.spinny-words span:nth-child(3) { 
    animation-delay: 3000ms; 
}
.spinny-words span:nth-child(4) { 
    animation-delay: 4500ms; 
}
.spinny-words span:nth-child(5) { 
    animation-delay: 6000ms; 
}
.spinny-words span:nth-child(6) { 
    animation-delay: 7500ms; 
}
.spinny-words span:nth-child(7) {
    animation: endRotate 9000ms linear;
    animation-delay: 9000ms; 
    animation-fill-mode: forwards;
}

@keyframes rotateWord {
    0%   { opacity: 0; }
    2%   { opacity: 0; transform: translateY(-20px); }
    5%   { opacity: 1; transform: translateY(0px);}
    17%  { opacity: 1; transform: translateY(0px); }
    20%  { opacity: 0; transform: translateY(20px); }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes endRotate {
    0%   { opacity: 0; }
    2%   { opacity: 0; transform: translateY(-20px); }
    5%   { opacity: 1; transform: translateY(0px);}
    17%  { opacity: 1; transform: translateY(0px); }
    100% { opacity: 1; }
}

.product > video{
    width: 500px;
    box-shadow: -15px -15px #00509D;
    border-radius: 5px;
    margin-left: 20px;
}

h3{
    font-size: 20pt;
    margin: 30px 0 0 200px;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;

}

form{
    display: flex;
    border: 2px solid #00509D;
    margin: 30px 0 30px 0;
    border-radius: 11px;
    padding-left: 10px;
    background-color: white;
}

.input_mail{
    width: 300px;
    height: 30px;
}

form > input{
    border-radius: 10px;
    border: none;
    outline: none;
}

.form{
    display: flex;
    justify-content: center;
}

.button{
    background: #00509D;
    outline: 2px solid #00509D;
    color: white;
    font-size:12pt;
    border: none;
    border-radius: 10px;
}

.button:hover{
    background-color: white;
    color: #00509D;
}

.text{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.container{
    display: flex;
    align-items: center;
}

.container > p{
    color: #00509D;
    font-size: 20pt;
    font-weight: bold;
    width: 230px;
    margin-left: 30px;
}

.container > img{
    width: 70px;
    height: 70px;
}

.lang{
    font-weight: bold;
    font-size: 12pt;
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: #00509D;
}

.back_nav{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
}

.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(325deg, rgba(255,255,255) 0%, rgba(71,153,232,0.1) 34%, rgba(71,153,232,0.1) 67%, rgba(255,255,255) 100%);
    padding-bottom: 30px;

}

.vision > p{
    text-align: justify;
    text-indent: 20px;
    font-size: 15pt;
    width: 80%;
}

.partenaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > a{
    margin: 0 35px 0 35px;
}

.logo > img{
    margin: 0 35px 0 35px;
}

.reseau:hover{
    border-radius: 5px;
    background-color: #00509D10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 600px;
    box-shadow: -15px -15px #00509D;
}

.mail_from{
    width: 300px;
    border-radius: 10px;
    border: 2px solid #00509D;
    outline: none;
}

.text_message{
    min-width: 580px;
    max-width: 580px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 10px;
    border: 2px solid #00509D;
    outline: none;
}

.cross{
    font-weight: bold;
    color: red;
    padding: 2px 5px 2px 5px;
    position: absolute;
    top: 10px;
    right: 10px;

}

.cross:hover{
    border-radius: 5px;
    background-color: #00509D10;
}

.show{
    display: none;
}

#burger{
    display: none;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 20px #c3c3c3;
    border-radius: 5px;
}

@media only screen and (max-width: 1080px){

    #burger{
        display: block; 
    }

    #menu{
        display: none;
    }

    .title{
        flex-direction: column;
        align-items: center;
    }

    body {
        background-image: none;
    }
    
    .top{
        margin : 30px 20px 0 20px;
    }

    .spinny-wrapper{
        margin: 0;
    }

    h3 {
        margin : 30px 0 0 0;
    }

    .product{
        flex-direction: column;
    }

    .logo{
        flex-direction: column;
    }

    .logo > img {
        margin: 15px 0 15px 0;
        width: 180px;
    }

    .product > video{
        width: 300px;
        margin-top: 30px;
    }

    .product{
        margin-top: 0 ;
    }

    .input_mail{
        width: 150px;
    }

    .form {
        margin : 20px 0 20px 0;
    }

    .spinny-wrapper{
        margin: 40px 0 40px 0;
    }

    .spinny-words{
        display: none;
    }

    .show{
        display: block;
    }

    .vision > p{
        font-size: 20pt;
    }

    .partenaire > h2 {
        width: 80%;
        text-align: center;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer > div{
        margin: 20px 0 20px 0;
    }

    .burger{
        padding: 0 0 10px 10px
    }

    nav > .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu > a {
        margin-left: 20px;
    }

    nav {
        left: 0;
        padding: 10px 0 10px 0;
        margin-top: 0;
        transform: none;
        background-color: white;
        box-shadow: 1px 1px 20px #c3c3c3;
    }

    .back_nav{
        background: none;
    }

    .unshow{
        display: none;
    }

    .main:hover{
        background-image: none;
    }

    .message{
        width: 340px;
        box-shadow: none;
    }

    .text_message{
        min-width: 315px;
        max-width: 315px;
        min-height: 120px;
        max-height: 120px;
    }



}
